* {
  margin: 0;
  padding: 0;
}

header {
  font-weight: bold;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 100vw;
  height: 100vh;
}

.side-bar {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 50px;
  padding-top: 10px;
  padding-left: 20px;
}

.side-bar > header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 10px;
}

.side-bar > header > img {
  width: 50px;
  height: 50px;
}

.side-nav > ul {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.side-nav, li {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.side-nav-icons {
  width: 24px;
  height: 24px;
}

.side-settings > ul {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.main-section {
  display: grid;
  grid-template-rows: max-content 2fr
}

.top-nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 20px;
  padding-bottom: 40px;
}

.top-nav-icon {
  width: 24px;
}

.search {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 5px;
}

#search-bar {
  border-radius: 25px;
  width: 80%;
  height: 25px;
}

.user-options {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  align-items: center;
}

#mini-icon {
  border-radius: 25px;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 250px;
}

.user-info {
  display: grid;
  grid-template-columns: max-content 2fr;
}

.welcome {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-gap: 5px;
}

.action-buttons button {
  height: 3vh;
  width: 4.5vw;
  border-radius: 25px;
}

.main-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 40px;
}

.projects {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 20px;
}

.card-list {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-gap: 25px;
}

.card {
  padding: 20px;
  height: 15vh;
}

.body-info {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 20px;
  width: 20vw;
}

.announcements {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 20px;
}

.announcement-list ul {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.announcement-list li {
  padding: 20px;
}

.trending {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-gap: 20px;
}

.trend-list li {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.trend-info {
  display: grid;
  grid-template-rows: repeat(2, max-content);
}